In [ ]:
#importar biblicoteca e criar database

In [1]:
import pandas as pd

In [6]:
base = pd.read_csv ("consumo_mensal_energia_por_uf_final.csv", encoding= "utf_8", sep = ";")

In [8]:
df = pd.DataFrame(base)

In [9]:
df

      uf         mês     consumo
0     RO  2018-01-01   249348.71
1     AC  2018-01-01    81045.30
2     AM  2018-01-01   460127.57
3     RR  2018-01-01    76488.94
4     PA  2018-01-01  1684268.39
...   ..         ...         ...
1372  RS  2022-03-01  2857317.43
1373  MS  2022-03-01   606478.73
1374  MT  2022-03-01   831955.31
1375  GO  2022-03-01  1394521.16
1376  DF  2022-03-01   539166.08

[1377 rows x 3 columns]

In [ ]:
#Renomear coluna para mes

In [10]:
df.rename(columns = {'mês':'mes' }, inplace = True)

In [ ]:
#Conversao dos valores de consumo de energia de KW para MW

In [12]:
df['consumo'] = (df['consumo'] / 1000)

In [ ]:
#Exportar arquivo

In [14]:
df.to_csv(index: "consumo.csv")