In [3]:
#importar biblicoteca e criar database

In [4]:
import pandas as pd

In [5]:
base = pd.read_csv ("consumo_mensal_energia_por_uf_final.csv", encoding= "utf_8", sep = ";")

In [6]:
df = pd.DataFrame(base)

In [7]:
df

      uf         mês     consumo
0     RO  2018-01-01   249348.71
1     AC  2018-01-01    81045.30
2     AM  2018-01-01   460127.57
3     RR  2018-01-01    76488.94
4     PA  2018-01-01  1684268.39
...   ..         ...         ...
1372  RS  2022-03-01  2857317.43
1373  MS  2022-03-01   606478.73
1374  MT  2022-03-01   831955.31
1375  GO  2022-03-01  1394521.16
1376  DF  2022-03-01   539166.08

[1377 rows x 3 columns]

In [8]:
#Renomear coluna para mes

In [9]:
df.rename(columns = {'mês':'mes' }, inplace = True)

In [10]:
#Exportar arquivo

In [11]:
df.to_csv("consumo.csv", index = False)